*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: chocolate;
}
body{
    background-color: beige;
}




img{
    display: inline-block;
    width: 25%;
    height: 300px;
}
ul{
    width: 80%;
    background-color: cornsilk;
}

li{
    font-size: 30px;
    font-weight: bold;
    list-style: none;
    color: cornflowerblue;
}
